.cursor {
  z-index: 1000;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: #fff;
}

.outline {
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff71;
}

.dot,
.outline {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  border-radius: 50%;
}

.outline {
  transition: 0.1s ease-in-out;
}
